.card-grid
{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
    align-items: center;
    gap: 5vh 0;
}

@media (max-width: 480px)
{
    .card-grid
    {
        grid-template-columns: repeat(2,1fr);
    }
}